# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual Environments
# =========================
venv/
env/
auto_drive/
.venv/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Training Artifacts
# =========================
runs/
experiments/
checkpoints/
*.pt

# =========================
# Node (if ever used)
# =========================
node_modules/

# =========================
# Logs
# =========================
*.out
*.err